.cardcontaienr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.titleduraiton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calenderAndduration {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clockDuration {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ttitleDate {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tagContiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.taggg {
  margin: 3px;
  background-color: aliceblue;
  padding: 3px;
}
